/* common section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s linear;
}
html{
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    
}
.btn{
    background: #6e0aef;
    outline: none;
    border: none;
    width: 10rem;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background: #a463fa;
}
.btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    height: 10vh;
    margin: auto
}
header .fa-bars{
    display: none;
}
header .logo{
    display: flex;
    font-size: 2rem;
    align-items: center;
}
header .logo i{
    color: #6e0aef;
    padding-left: 0.75rem
}
header .nav-items{
    display: flex;
    
}
header .nav-items .nav-item{
    display: inline-block;
    padding: 0 1rem;
    
}
header .nav-items .nav-item .nav-link{
    text-decoration: none;
    color: #4e547e;
    font-size: 1.5rem;
}
header .nav-items .nav-item .nav-link:hover{
    color: #6e0aef;
}
/* hero section */
.hero{
    background: #f8f7fc;
}
.hero .hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 90vh;
    margin: auto;
}
.hero .hero-section .content{
    display: flex;
    flex-direction: column;
}
.hero .hero-section .content h4{
    color: #6e0aef;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.hero .hero-section .content h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.hero .hero-section .content p{
    font-size: 1.4rem;
    color: rgb(29, 29, 29);
}
.hero .hero-section .content p span{
    color:#6e0aef
}
/* features section */
.features{
    background: #f8f7fc;
    padding: 2rem 0;
}
.features .features-section{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
}
.features .features-section h4{
    color: #6e0aef;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.features .features-section .qualitiez{
    display: flex;
    justify-content: space-between;
}
.features .features-section .qualitiez .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.8rem;
    max-width: 25rem;

}
.features .features-section .qualitiez .quality:hover{
    border: 2px solid #6e0aef;
}
.features .features-section .qualitiez .quality i{
    color: #6e0aef;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.features .features-section .qualitiez .quality h3{
    font-size: 1.6rem;
    color: #6e0aef;
    margin-bottom: 1rem;
}
.features .features-section .qualitiez .quality p{
    font-size: 1.2rem;
    color: #4e547e;
    margin-bottom: 1rem;
}
/* newest phone section */
.newest-phone{
    background: #f8f7fc;
    padding: 2rem 0;
}
.newest-phone .phone-section{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.newest-phone .phone-section h4{
    color: #6e0aef;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.newest-phone .phone-section .phones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
}
.newest-phone .phone-section .phones .phone{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}
.newest-phone .phone-section .phones .phone img{
    margin-bottom: 1rem;
    transition: 0.5S;
}
.newest-phone .phone-section .phones .phone img:hover{
transform: scale(1.1);
}
.newest-phone .phone-section button{
    width: 15rem;
    align-self: center;
}
/* footer */
footer{
    text-align: center;
    padding: 2rem 0;
}
.footer-section{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.footer-section p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer-section .social a{
    margin: 0 1rem;
}
.footer-section .social i{
    color: #4e547e;
    font-size: 1.4rem;
}

/* media query */
/* @media(max-width:1125px){
    html{
        font-size: 55%;
    }
    /* header{
        padding: 1.5rem 2rem;
    } */
/* } */
@media(max-width:1000px){
    *{
        text-align: center;
    }
    .hero img{
        display: none;
    }
    .hero-section{
        padding: 0 2rem;
        width: 50%;
        align-items: center;
    }
    .hero .btn{
        align-self: center;
    }
    .qualitiez{
        flex-wrap: wrap;
        justify-content: center;
    }
    .features{
        align-items: center;
    }
}
@media(max-width:660px){
    .hero{
        margin: 10vh 0;
    }
    .hero-section .content h1{
        font-size: 2rem;
    }
    .newest-phone .phone-section{
        align-items: center;
    }
    .newest-phone .phone-section .phones{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:500px){
    
    .newest-phone .phone-section .phones{
        grid-template-columns: 1fr;
    }
    header .fa-bars{
        display: block;
        font-size: 3rem;
    }
    header .nav-items{
        position: absolute;
        left: 0;
        top: 10vh;
        display: none;
        flex-direction: column;
        width: 100%;
        background: #6e0aef;
    }
    
    header .nav-items .active{
        display: flex;
    }
    header .nav-items .nav-item a{
        color: #fff;
    }
}